@page
@model CIT365_SacramentProgram.Pages.Meetings.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Theme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Theme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Presiding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Presiding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Conducting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Conducting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Organist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Organist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Invocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Invocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OpeningHymnDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OpeningHymnDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SacramentHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymnDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.SacramentHymnDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.IntermediateMusic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.IntermediateMusic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ClosingHymnDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ClosingHymnDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Benediction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Benediction)
        </dd>
    </dl>
</div>
<div id="speakersContainer">
    <h4>Speakers</h4>
    @foreach (var speaker in Model.Meeting.Speakers)
    {
        <h5>@speaker.FullName</h5>
        <dl class="row">
            <dt class="col-sm-2">Topic</dt>
            <dd class="col-sm-10">@speaker.Topic</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@speaker.Type</dd>
        </dl>
    }
</div>
<div>
<form method="post">
    <input type="hidden" asp-for="Meeting.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index">Back to List</a>
</form>
</div>
